path==16.3.0
mtranslate
psycopg2-binary
python-dotenv
Flask
flask-cors
openai
flask_wtf
Pillow==9.0.1
pyzbar==0.1.8
qrcode==7.3.1
pydantic
pydantic-settings
sqlalchemy==1.4.40
flask-jwt-extended
PyJWT==2.8.0
